# Environment (development, production, test)
NODE_ENV=development

# WhatsApp Session Name (will create a folder in ./sessions/)
SESSION_NAME=whatsapp-main

# Random Jitter Delay (Seconds)
MIN_DELAY_SECONDS=15
MAX_DELAY_SECONDS=35

# Logging level (info, debug, error, warn, silent)
LOG_LEVEL=info
